* {
	margin:0;
	list-style:none;
	vertical-align:baseline;
	padding:0 auto;
}

body{
	margin:0 auto;
	clear:both;
	
	font-size:16px;
}

html{
	margin:0 auto;
}


.div-background{
	width:100%;
	height:100%;
	position:absolute;
	display:table;
}

.menu-left{
	text-align:center;
	width:8%;
	height:100%;
	background-color:#2C3039;
	float:left;
}

.content-right{
	height:100%;
	background-color:#F3F5F9;
	width:92%;
	float:left;
}

.menu-button{
	width:100%;
	height:5%;
	background-color:#2C3039;
	position:relative;
	float:left;
	border-bottom: #2A2E36 1px solid;
	border-top: #363A42 1px solid;
	color:#7D869B;
	
}

.menu-button:hover{
	background-color:#292C35;
	color:white;
}

.menu-header{
	width:100%;
	height:5%;
	background-color:#292C35	;
	position:relative;
	border-bottom: #2A2E36 1px solid;
	border-top: #363A42 1px solid;
	float:left;
	color:#7D869B;
}

.div-content-header{
	width:100%;
	height:5%;
	float:left;
	position:relative;
	background-color:white;
	border-bottom:#E0E4E8 1px solid;
	text-align:center;
}

#size-textbox{
	width:50%;
	margin-left:20%;
}

.form-label{
	margin-left:20%;
}

#form-button{
	margin-left:65%;
}

@-moz-document url-prefix() { 

	.menu-left{
		text-align:center;
		width:8%;
		height:100%;
		background-color:#2C3039;
		float:left;
		position:absolute;
	}

	.content-right{
		height:100%;
		background-color:#F3F5F9;
		width:92%;
		float:left;
		position:absolute;
		margin-left:8%;
	}
}

}